PyPDF2
afinn
backend
benepar
clatr
dendropy
docx2txt
g2p_en
infoscopy
language_tool_python
lexicalrichness
matplotlib
nltk
nrclex
numpy
pandas
readability
reportlab
scipy
seaborn
sklearn
spacy
svglib
textblob
textstat
tqdm
vaderSentiment
wordfreq
yaml
zss
